body{
    background-color: rgb(255, 253, 155);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
header{
    text-align: center;
}
main{
   padding: 20px;
   text-align: center;
}
nav{
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: 250px;
    text-align: center;
    border: solid;
}

#btn{
    background-image: linear-gradient(to bottom, #eb94d0, #b02079);
    padding: 4px;
    margin: 2px;
}


img{
    height: 150px;
    width: 150px;
}